* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --mainBlack: #000;
    --mainWhite: #fff;
    --yellowTrans: rgb(141, 139, 9);
    --mainYellow: rgb(238, 215, 8);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: purple;
}
