*
{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* header */
header {
    display: flex;
    padding: 1em;
}

.logo {
    max-width: 20em;
    max-height: 15em;
}

img {
    display: block;
    max-width: 100%;
}

.navbar {
    position: fixed;
   background: rgb(145, 81, 81);
}

