* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(230, 52, 51);
    font-size: 10rem;
}
