* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(185, 57, 48);
    font-size: 10rem;
}

a:hover{
    color: brown;
}
